@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.last_name {
  font-size: 2em;
}

.glyphicon-ok-sign {
  color:  green;
  font-size: 30px;
}

.glyphicon-remove-sign {
  color: red;
  font-size: 30px;
}

.row {
  padding: 5px 0 5px 0;
}

#second_row {
  margin-top: 40px;
}

//table row numbering

table {
  counter-reset: rowNumber;
}

table tbody tr {
  counter-increment: rowNumber;
}

table tbody tr th:first-child::before {
  content: counter(rowNumber);
}


